body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #50545A;
  background-color: #F5F5F5; }

h1, h2, h3, p, a {
  margin: 0; }

.site__background-decorator {
  background-color: #D9D9D9; }

.site__header .header__main-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: #50545A;
  border-radius: 0 0 25px 25px;
  padding: 50px; }
  .site__header .header__main-banner .main-banner__support-element {
    background-color: #332E26; }
  .site__header .header__main-banner .main-banner__content {
    display: flex;
    align-items: center;
    justify-content: center; }
    .site__header .header__main-banner .main-banner__content .main-banner__image {
      border-radius: 50%;
      margin-right: 50px; }
    .site__header .header__main-banner .main-banner__content .main-banner__text .main-banner__title {
      font-size: 44px;
      color: #F5F5F5; }
    .site__header .header__main-banner .main-banner__content .main-banner__text .main-banner__subtitle {
      font-size: 42px;
      color: #E3A94D; }

.site__carousel-section {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 100px; }
  .site__carousel-section .carousel-section__text .carousel-section__title {
    font-size: 42px;
    color: #000000; }
  .site__carousel-section .carousel-section__text .carousel-section__description {
    font-size: 24px;
    color: #000000; }
  .site__carousel-section .carousel-section__circles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .site__carousel-section .carousel-section__circles .carousel-section__circle {
      border-radius: 50%;
      margin-bottom: 25px; }
      .site__carousel-section .carousel-section__circles .carousel-section__circle--small {
        width: 50px;
        height: 50px;
        font-size: 24px;
        background-color: #8A7761; }
      .site__carousel-section .carousel-section__circles .carousel-section__circle--medium {
        width: 100px;
        height: 100px;
        font-size: 24px;
        background-color: #59729A; }
      .site__carousel-section .carousel-section__circles .carousel-section__circle--large {
        width: 150px;
        height: 150px; }
        .site__carousel-section .carousel-section__circles .carousel-section__circle--large img {
          width: 100%;
          height: 100%;
          border-radius: 50%; }

.site__projects-banner {
  text-align: center;
  padding: 100px;
  background-color: #8A7761; }
  .site__projects-banner .projects-banner__title {
    font-size: 44px;
    margin-bottom: 50px;
    color: #F5F5F5; }
  .site__projects-banner .projects-banner__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between; }
  .site__projects-banner .projects-banner__card {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    vertical-align: top;
    margin: 25px;
    padding: 25px;
    border-radius: 25px; }
    .site__projects-banner .projects-banner__card--left {
      background-color: #4A82D6; }
    .site__projects-banner .projects-banner__card--right {
      background-color: #E3A94D; }
    .site__projects-banner .projects-banner__card .card__text-content .card__title {
      font-size: 42px;
      color: #F5F5F5; }
      .site__projects-banner .projects-banner__card .card__text-content .card__title--right {
        color: #000000; }
    .site__projects-banner .projects-banner__card .card__text-content .card__description {
      font-size: 24px;
      color: #F5F5F5; }
      .site__projects-banner .projects-banner__card .card__text-content .card__description--right {
        color: #000000; }
    .site__projects-banner .projects-banner__card .card__image {
      width: 100%;
      height: auto;
      border-radius: 25px; }

.site__video-section {
  text-align: center;
  padding: 100px; }
  .site__video-section .video-section__title {
    font-size: 44px;
    margin-bottom: 50px;
    color: #000000; }
  .site__video-section .video-section__content {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    align-items: center; }
    .site__video-section .video-section__content .video-section__player {
      position: relative; }
      .site__video-section .video-section__content .video-section__player iframe {
        width: 600px;
        height: 400px; }
      .site__video-section .video-section__content .video-section__player .video-section__play-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #332E26;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        cursor: pointer; }
    .site__video-section .video-section__content .video-section__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .site__video-section .video-section__content .video-section__buttons .video-section__button {
        background-color: #4A82D6;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 25px;
        cursor: pointer; }
        .site__video-section .video-section__content .video-section__buttons .video-section__button:hover {
          background-color: #59729A; }

.site__links-section {
  text-align: center;
  padding: 100px; }
  .site__links-section .links-section__title {
    font-size: 44px;
    margin-bottom: 50px;
    color: #000000; }
  .site__links-section .links-section__buttons .links-section__button {
    background-color: #4A82D6;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 25px;
    cursor: pointer; }
    .site__links-section .links-section__buttons .links-section__button:hover {
      background-color: #59729A; }

.site__footer {
  text-align: center;
  padding: 50px;
  background-color: #332E26;
  color: #F5F5F5; }
  .site__footer .footer__privacy-link {
    color: #8A7761;
    text-decoration: none;
    margin-bottom: 25px; }
    .site__footer .footer__privacy-link:hover {
      text-decoration: underline; }
  .site__footer .footer__text {
    font-size: 24px; }
