// Design variables
$color-primary-light: #4A82D6;
$color-primary: #59729A;
$color-primary-dark: #50545A;

$color-secondary-light: #E3A94D;
$color-secondary: #8A7761;
$color-secondary-dark: #332E26;

$color-gray-light: #F5F5F5;
$color-gray: #D9D9D9;
$color-gray-dark: #000000;

$color-dark-overlay: rgba(0, 0, 0, 0.3);
$color-shadow: rgba(0, 0, 0, 0.5);

$size-mi: 6px;
$size-xs: 12px;
$size-sm: 25px;
$size-md: 50px;
$size-lg: 100px;
$size-xl: 200px;
$size-xxl: 400px;
$size-hg: 800px;
$size-gt: 1600px;

$font-family: 'Montserrat', sans-serif;

$font-size-xxs: 16px;
$font-size-xs: 18px;
$font-size-sm: 20px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 44px;

* {
    margin: 0;
    padding: 0;
    font-size: $font-size-lg;
    font-weight: normal;
    font-family: $font-family;
}

body {
    color: $color-primary-dark;
    background-color: $color-gray-light;
}


.site {
    position: relative;

    .site__background-decorator {
        //Fixed background image, prevents scrolling
        background-image: url('../img/background-decorator.svg');
        background-attachment: fixed;
        background-size: cover; 
        background-repeat: no-repeat; 
        position: absolute; 
        top: -$size-lg;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .site__header {
        position: relative;

        .header__support-element {
            position: absolute;
            top: -$size-md;
            left: 0;
            z-index: 1;
            height: $size-xl;
            width: calc(100% - #{$size-xxl} - #{$size-md} );
            max-width: calc(#{$size-hg} + #{$size-xxl} - #{$size-md} );
            min-width: calc(#{$size-hg} + #{$size-lg} - #{$size-md} );
            background-color: $color-secondary-dark;
            border-radius: 0 $size-lg $size-lg 0;

            @media (max-width: 992px) {
                width: calc(100% - #{$size-lg} - #{$size-md});
                min-width: calc(#{$size-xxl} + #{$size-xl} - #{$size-md});
            }

            @media (max-width: 768px) {
                top: -$size-sm;
                left: -$size-sm;
                width: calc(100% - #{$size-lg} - #{$size-lg});
                min-width: calc(#{$size-xxl} + #{$size-md} + #{$size-xs} );
                height: calc(#{$size-lg} + #{$size-sm});
                border-radius: calc(#{$size-md} + #{$size-xs});
                margin-left: $size-lg;
            }

            @media (max-width: 576px) {
                top: -$size-sm;
                left: -$size-lg;
                width: calc(100% - 2 * #{$size-sm});
                min-width: unset;
                border-radius: 0 calc(#{$size-md} + #{$size-xs}) calc(#{$size-md} + #{$size-xs}) 0;
            }

            @media (max-width: 480px) {
                top: -$size-xs;
                height: calc(#{$size-md} + #{$size-sm});
                border-radius: 0 calc(#{$size-sm} + #{$size-xs}) calc(#{$size-sm} + #{$size-xs}) 0;
            }

        }

        .header__main-banner {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            height: $size-xl;
            width: calc(100% - #{$size-xxl});
            max-width: calc(#{$size-hg} + #{$size-xxl});
            min-width: calc(#{$size-hg} + #{$size-lg});
            background-color: $color-primary;
            border-radius: 0 $size-lg $size-lg 0;
            margin: $size-lg auto $size-lg 0;

            @media (max-width: 992px) {
                width: calc(100% - #{$size-lg});
                min-width: calc(#{$size-xxl} + #{$size-xl});
            }

            @media (max-width: 768px) {
                width: calc(100% - #{$size-lg} - #{$size-lg});
                min-width: calc(#{$size-xxl} + #{$size-md} + #{$size-xs});
                height: calc(#{$size-lg} + #{$size-sm});
                border-radius: calc(#{$size-md} + #{$size-xs});
                margin-left: $size-lg;
                margin-bottom: $size-lg;
                margin-top: $size-md;
            }

            @media (max-width: 576px) {
                margin-left: 0;
                margin-bottom: $size-lg;
                width: calc(100% - #{$size-sm});
                min-width: unset;
                border-radius: 0 calc(#{$size-md} + #{$size-xs}) calc(#{$size-md} + #{$size-xs}) 0;
            }

            @media (max-width: 480px) {
                height: calc(#{$size-md} + #{$size-sm});
                border-radius: 0 calc(#{$size-sm} + #{$size-xs}) calc(#{$size-sm} + #{$size-xs}) 0;
            }

            @media (max-width: 360px) {
                width: calc(100% - #{$size-xs});
            }

            .main-banner__content {
                display: flex;
                padding-left: calc(#{$size-xl} + 4 * #{$size-sm} );
                margin-right: $size-sm;

                @media (max-width: 992px) {
                    padding-left: calc(#{$size-xl} + 5 * #{$size-xs} );
                }

                @media (max-width: 768px) {
                    padding-left: calc(#{$size-md} + #{$size-sm} + #{$size-xs} );
                    margin-right: $size-xs;
                }

                @media (max-width: 480px) {
                    padding-left: calc(#{$size-md});
                }

                .main-banner__image {
                    position: absolute;
                    top: -$size-sm;
                    left: $size-sm;
                    border-radius: 50%;
                    height: calc(#{$size-xl} + 2 * #{$size-sm});
                    width: calc(#{$size-xl} + 2 * #{$size-sm});

                    @media (max-width: 992px) {
                        top: -$size-xs;
                        left: $size-xs;
                        height: calc(#{$size-xl} + 2 * #{$size-xs});
                        width: calc(#{$size-xl} + 2 * #{$size-xs});
                    }

                    @media (max-width: 768px) {
                        top: $size-md;
                        left: calc(#{$size-xs} - #{$size-lg});
                        height: calc(#{$size-lg} + #{$size-md});
                        width: calc(#{$size-lg} + #{$size-md});
                    }

                    @media (max-width: 576px) {
                        top: $size-md;
                        left: -$size-sm;
                    }

                    @media (max-width: 480px) {
                        height: $size-lg;
                        width: $size-lg;
                        left: -$size-xs;
                        top: calc(#{$size-md} - #{$size-mi});
                    }

                }

                .main-banner__text {
                    .main-banner__title {
                        font-size: $font-size-xl;
                        color: $color-gray-light;
                        font-weight: normal;

                        @media (max-width: 992px) {
                            font-size: $font-size-lg;
                            font-weight: bold;
                        }

                        @media (max-width: 768px) {
                            font-size: $font-size-md;
                        }

                        @media (max-width: 480px) {
                            font-size: $font-size-xs;
                        }
                    }

                    .main-banner__subtitle {
                        color: $color-secondary-light;
                        font-weight: normal;

                        @media (max-width: 768px) {
                            font-size: $font-size-md;
                            margin-left: $size-xs;
                        }

                        @media (max-width: 768px) {
                            margin-left: $size-md;
                        }

                        @media (max-width: 576px) {
                            margin-left: $size-md;
                        }

                        @media (max-width: 480px) {
                            font-size: $font-size-xxs;
                            margin-left: $size-sm;
                        }

                        @media (max-width: 360px) {
                            margin-left: calc(#{$size-sm} + #{$size-xs});
                        }
                    }
                }
            }

        }
    }

    .site__carousel-section {
        display: flex;
        justify-content: space-between;
        margin: $size-md auto;
        padding: 0 $size-lg;
        max-width: $size-gt;

        @media (max-width: 1200px) {
            padding: 0 $size-md;
        }

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: 360px) {
            padding: 0 $size-sm;
        }

        .carousel-section__text {
            flex: 1;
            max-width: calc(#{$size-hg} + #{$size-xl});
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 992px) {
                margin-bottom: $size-md;
            }

            @media (max-width: 576px) {
                margin-bottom: $size-sm;
            }

            @media (max-width: 360px) {
                margin-bottom: 0;
            }

            .carousel-section__title {
                color: $color-gray-dark;

                @media (max-width: 768px) {
                    font-size: $font-size-md;
                    font-weight: bold;
                }

                @media (max-width: 480px) {
                    font-size: $font-size-xs;
                }
            }

            .carousel-section__description {
                font-size: $font-size-md;
                color: $color-gray-dark;
                margin: 0 0 $size-sm 0;


                @media (max-width: 768px) {
                    font-size: $font-size-sm;
                }

                @media (max-width: 480px) {
                    font-size: $font-size-xxs;
                }
            }
        }

        .carousel-section__circles {
            flex-shrink: 0;
            position: relative;
            flex-direction: column;
            width: calc( #{$size-xxl} + #{$size-md} );
            height: calc( #{$size-xxl} + #{$size-lg} );

            @media (max-width: 992px) {
                width: calc( #{$size-xxl} + #{$size-lg} );
                height: calc( #{$size-xxl} + #{$size-md} );
                margin-bottom: $size-md;
            }

            @media (max-width: 576px) {
                width: $size-xxl;
                height: calc(#{$size-xl} + #{$size-lg});
            }

            @media (max-width: 480px) {
                width: calc(#{$size-xxl} - #{$size-md});
            }

            @media (max-width: 360px) {
                width: calc(#{$size-xl} + #{$size-md});
                height: calc(#{$size-xl} + #{$size-md});
            }

            .carousel-section__circle {
                border-radius: 50%;
                box-shadow: 6px 6px 12px 0px $color-shadow;

                &--small {
                    position: absolute;
                    left: calc( #{$size-lg} + #{$size-sm} );
                    top: 0;
                    width: $size-lg;
                    height: $size-lg;
                    font-size: $font-size-md;
                    background-color: $color-secondary;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    color: $color-gray-light;
                    padding: $size-xs;

                    @media (max-width: 992px) {
                        top: calc( #{$size-lg} + #{$size-sm} );
                        left: 0;
                    }

                    @media (max-width: 576px) {
                        border-radius: 0;
                        z-index: 2;
                        height: $size-md;
                        width: $size-lg;
                        top: calc( #{$size-xl} + #{$size-lg} - #{$size-md} );
                        left: 0;
                        padding: 0 $size-xs;
                        background-color: #E3A94D;
                    }

                    @media (max-width: 480px) {
                        width: calc(#{$size-lg} - #{$size-xs} - #{$size-sm});
                        padding: 0 $size-xs;
                        font-size: $font-size-xs;
                        font-weight: bold;
                    }

                    @media (max-width: 360px) {
                        width: $size-md;
                        top: calc(#{$size-xl} - #{$size-xs});
                    }
                }

                &--medium {
                    position: absolute;
                    top: $size-md;
                    left: 0;
                    width: $size-xl;
                    height: $size-xl;
                    font-size: $font-size-md;
                    background-color: $color-primary;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    color: $color-gray-light;
                    padding: $size-xs;

                    @media (max-width: 992px) {
                        top: 0;
                        left: $size-md;
                    }

                    @media (max-width: 576px) {
                        border-radius: 0;
                        z-index: 2;
                        height: $size-md;
                        width: calc(#{$size-xxl} - #{$size-lg} - 4 * #{$size-xs});
                        top: calc(#{$size-xl} + #{$size-lg} - #{$size-sm});
                        left: calc(#{$size-lg} + 2 * #{$size-xs});
                        padding: 0 $size-xs;
                    }

                    @media (max-width: 480px) {
                        left: calc(#{$size-lg} + #{$size-xs} - #{$size-sm}) ;
                        width: calc(#{$size-xl} + #{$size-sm} + #{$size-xs});
                        padding: 0 $size-xs;
                        font-size: $font-size-xs;
                    }

                    @media (max-width: 360px) {
                        left: 0;
                        width: calc(#{$size-xl} + #{$size-sm});
                        top: calc(#{$size-xl} + #{$size-md} - #{$size-xs});
                    }

                }

                &--large {
                    position: absolute;
                    top: $size-lg;
                    left: $size-md;
                    width: $size-xxl;
                    height: $size-xxl;

                    @media (max-width: 992px) {
                        top: $size-md;
                        left: $size-lg;
                    }

                    @media (max-width: 576px) {
                        top: 0;
                        left: $size-md;
                        width: calc(#{$size-xl} + #{$size-lg});
                        height: calc(#{$size-xl} + #{$size-lg});
                    }

                    @media (max-width: 480px) {
                        left: $size-sm;
                    }

                    @media (max-width: 360px) {
                        width: calc(#{$size-xl} + #{$size-md});
                        height: calc(#{$size-xl} + #{$size-md});
                        left:0;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .site__projects-banner {
        text-align: center;
        background-color: $color-primary;
        padding: $size-md;

        @media (max-width: 480px) {
            padding: $size-sm $size-sm $size-md $size-sm;
        }

        .projects-banner__title {
            display: block;
            font-size: $font-size-xl;
            margin: 0 0 $size-md 0;
            color: $color-gray-light;

            @media (max-width: 576px) {
                font-size: $font-size-lg;
                font-weight: bold;
                margin-bottom: $size-sm;
            }

            @media (max-width: 480px) {
                font-size: $font-size-md;
                font-weight: normal;
                margin-bottom: $size-xs;
            }
        }

        .projects-banner__cards {
            display: flex;
            justify-content: space-between;
            max-width: $size-gt;
            margin: 0 auto;

            @media (max-width: 1200px) {
                justify-content: center;
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }

            .projects-banner__card {
                //flex: 1;
                text-align: left;
                vertical-align: top;
                padding: $size-sm;
                border-radius: $size-sm;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-shadow: 6px 6px 12px 0px $color-shadow;

                @media (min-width: 769px) and (max-width: 1200px) {
                    flex-direction: column-reverse;
                    justify-content: flex-start;
                    text-align: center;
                    width: calc( 1.176 * #{$size-xl} );
                    
                }

                @media (max-width: 576px) {
                    flex-direction: column-reverse;
                    justify-content: flex-start;
                    text-align: center;
                    width: calc(#{$size-xl} + #{$size-md});
                    padding: $size-sm $size-xs;
                }

                @media (max-width: 480px) {
                    width: auto;
                    padding: $size-xs;
                }
            

                &--left {
                    background-color: $color-primary-light;
                    margin-right: $size-md;

                    @media (max-width: 768px) {
                        margin-right: 0;
                        margin-bottom: $size-md;
                    }

                    @media (max-width: 576px) {
                        margin-right: 0;
                        margin-bottom: $size-sm;
                    }
                }
            
                &--right {
                    background-color: $color-secondary-light;
                }
    
                .card__text-content {
                    margin: $size-xs;

                    @media (min-width: 769px) and (max-width: 1200px) {
                        margin: $size-xs 0;
                    }

                    .card__title {
                        font-weight: normal;
                        color: $color-gray-light;
    
                        &--right {
                            color: $color-secondary-dark;
                        }

                        @media (max-width: 768px) {
                            font-size: $font-size-md;
                            font-weight: bold;
                        }

                        @media (max-width: 480px) {
                            font-size: $font-size-xs;
                        }
                    }
        
                    .card__description {
                        font-size: $font-size-md;
                        color: $color-gray-light;
    
                        @media (max-width: 576px) {
                            font-size: $font-size-sm;
                        }

                        @media (max-width: 480px) {
                            font-size: $font-size-xxs;
                        }

                        &--right {
                            color: $color-secondary-dark;
                        }
                    }
                }
    
                .card__image {
                    height: $size-xl;
                    width: calc( 1.176 * #{$size-xl} );
                    border-radius: $size-xs;

                    @media (max-width: 768px) {
                        height: calc(#{$size-xl} / 1.176);
                        width: $size-xl; 
                    }

                    @media (max-width: 480px) {
                        height: calc(#{$size-lg} + #{$size-sm});
                        width: calc(( #{$size-lg} + #{$size-sm} ) * 1.176);
                    }

                }
                
            }
        }
    }

    .site__video-section {
        text-align: center;
        padding: $size-lg 0;


        .video-section__title {
            font-size: $font-size-xl;
            margin: 0 0 $size-sm 0;
            color: $color-gray-dark;
            font-weight: normal;

            @media (max-width: 576px) {
                font-size: $font-size-lg;
                font-weight: bold;  
            }

            @media (max-width: 480px) {
                font-size: $font-size-md;
                font-weight: normal;
                margin-bottom: $size-xs;
            }
        }

        .video-section__content {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 992px) {
                flex-direction: column;
            }

            .video-section__player {
                position: relative;

                iframe {
                    height: $size-xxl;
                    width: calc(16 * #{$size-xxl} / 9);

                    @media (max-width: 768px) {
                        height: calc( #{$size-xl} + #{$size-lg});
                        width: calc( 16 * ( #{$size-xl} + #{$size-lg} ) / 9);
                    }

                    @media (max-width: 576px) {
                        height: calc( #{$size-xl} + #{$size-md});
                        width: calc( 16 * ( #{$size-xl} + #{$size-md} ) / 9);
                    }

                    @media (max-width: 480px) {
                        height: $size-xl;
                        width: calc( 16 * #{$size-xl} / 9);
                    }

                    @media (max-width: 360px) {
                        height: calc( 9 * ( #{$size-xl} + #{$size-lg} ) / 16);
                        width: calc( #{$size-xl} + #{$size-lg});
                    }
                }

                .video-section__play-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: $size-lg;
                    height: $size-lg;
                    cursor: pointer;
            
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .video-section__buttons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 $size-md;

                @media (max-width: 992px) {
                    flex-direction: row-reverse;
                    width: calc(16 * #{$size-xxl} / 9); //equals iframe
                    justify-content: flex-start;
                    margin: 0 auto;
                }

                @media (max-width: 768px) {
                    width: calc( 16 * ( #{$size-xl} + #{$size-lg} ) / 9); //equals iframe
                }

                @media (max-width: 576px) {
                    width: calc( 16 * ( #{$size-xl} + #{$size-md} ) / 9); //equals iframe
                }

                @media (max-width: 480px) {
                    width: calc( 16 * #{$size-xl} / 9); //equals iframe
                }

                @media (max-width: 360px) {
                    width: calc( #{$size-xl} + #{$size-lg}); //equals iframe
                }
            
                .video-section__button {
                    position: relative; 
                    background-color: $color-primary-light;
                    border: none;
                    border-radius: 50%;
                    width: $size-lg;
                    height: $size-lg;
                    margin: $size-xs 0;
                    cursor: pointer;
                    background-size: cover; 
                    background-position: center; 
                    overflow: hidden; 

                    @media (max-width: 992px) {
                        margin: 0 $size-xs;
                    }

                    @media (max-width: 768px) {
                        width: $size-md;
                        height: $size-md;
                    }
            
                    &--en {
                        background-image: url('../img/english.webp');
                    }
            
                    &--sp {
                        background-image: url('../img/spanish.webp');
                    }
            
                    &--it {
                        background-image: url('../img/italian.webp');
                    }
            
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: transparent;
                        transition: background 0.1s ease;
                    }
            
                    &:hover::before {
                        background: $color-dark-overlay;
                    }
                }
            }
        }
    }

    .site__links-section {
        text-align: center;
        padding: 0 0 $size-lg 0;

        .links-section__title {
            font-size: $font-size-xl;
            margin-bottom: $size-sm;
            color: $color-gray-dark;
            font-weight: normal;

            @media (max-width: 576px) {
                font-size: $font-size-lg;
                font-weight: bold;  
            }

            @media (max-width: 480px) {
                font-size: $font-size-md;
                font-weight: normal;
                margin-bottom: $size-xs;
            }
        }

        .links-section__buttons {
            display: flex;
            background-color: $color-primary-light;
            border-radius: calc( 0.5 * #{$size-lg} + #{$size-sm});
            padding: $size-sm;
            width: calc( 3 * #{$size-lg} + 3 * 2 * #{$size-sm});
            margin: 0 auto;
            box-shadow: 6px 6px 12px 0px $color-shadow;

            @media (max-width: 768px) {
                width: calc( 3 * #{$size-lg} - 3 * #{$size-sm} + 3 * 2 * #{$size-xs});
            }

            @media (max-width: 480px) {
                width: calc( 3 * #{$size-md} + 3 * 2 * #{$size-mi});
                border-radius: calc( 0.5 * #{$size-md} + #{$size-xs});
                padding: $size-xs;
            }

            .links-section__button {
                position: relative;
                background-color: $color-primary-light;
                border: none;
                border-radius: 50%;
                width: $size-lg;
                height: $size-lg;
                margin: 0 $size-sm;
                cursor: pointer;
                background-size: cover;
                background-position: center;
                background-color: white;
                overflow: hidden;

                @media (max-width: 768px) {
                    margin: 0 $size-xs;
                    width: calc(#{$size-lg} - #{$size-sm});
                    height: calc(#{$size-lg} - #{$size-sm});
                }

                @media (max-width: 480px) {
                    margin: 0 $size-mi;
                    width: $size-md;
                    height: $size-md;
                }

                &--linkedin {
                    background-image: url('../img/linkedin.svg');
                }

                &--github {
                    background-image: url('../img/github.svg');
                }

                &--email {
                    background-image: url('../img/email.webp');
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: transparent;
                    transition: background 0.1s ease;
                }
        
                &:hover::before {
                    background: $color-dark-overlay;
                }
            }
        }
    }

    .site__footer {
        text-align: center;
        padding: $size-md $size-md $size-lg $size-md;
        background-color: $color-secondary-dark;
        color: $color-gray-light;

        .footer__privacy-link {
            color: $color-secondary-light;
            text-decoration: none;
            margin-bottom: $size-sm;
            font-size: $font-size-md;

            &:hover {
                text-decoration: underline;
            }
        }

        .footer__text {
            font-size: $font-size-md;

            @media (max-width: 768px) {
                font-size: $font-size-sm;
            }

            @media (max-width: 576px) {
                font-size: $font-size-xs;
            }

            @media (max-width: 480px) {
                font-size: $font-size-xxs;
            }
        }
    }
}