// Design variables
$color-primary-light: #4A82D6;
$color-primary: #59729A;
$color-primary-dark: #50545A;

$color-secondary-light: #E3A94D;
$color-secondary: #8A7761;
$color-secondary-dark: #332E26;

$color-gray-light: #F5F5F5;
$color-gray: #D9D9D9;
$color-gray-dark: #000000;

$color-dark-overlay: rgba(0, 0, 0, 0.3);
$color-shadow: rgba(0, 0, 0, 0.5);

$size-mi: 6px;
$size-xs: 12px;
$size-sm: 25px;
$size-md: 50px;
$size-lg: 100px;
$size-xl: 200px;
$size-xxl: 400px;
$size-hg: 800px;
$size-gt: 1600px;

$font-family: 'Montserrat', sans-serif;

$font-size-xxs: 16px;
$font-size-xs: 18px;
$font-size-sm: 20px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 44px;

* {
    margin: 0;
    padding: 0;
    font-size: $font-size-lg;
    font-weight: normal;
    font-family: $font-family;
    box-sizing: border-box;
    color: $color-gray-dark;
}

body {
    background-color: $color-gray-light;
}

.site {
    position: relative;

    .site__background-decorator {
        background-image: url('../img/background-decorator.svg');
        background-attachment: fixed;
        background-size: cover; 
        background-repeat: no-repeat; 
        position: absolute; 
        top: -$size-lg;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .site__header {
        position: relative;

        .header__support-element {
            position: absolute;
            top: -3vw; //$size-sm;
            left: 0;
            z-index: 1;
            height: clamp(80px, calc(max(16vw,10vh)), 200px);
            width: clamp(270px, 80vw, 1050px);
            background-color: $color-secondary-dark;
            border-radius: 0 9999px 9999px 0;
        }

        .header__main-banner {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            height: clamp(80px, calc(max(16vw,10vh)), 200px);
            width: clamp(310px, 90vw, 1200px);
            background-color: $color-primary;
            border-radius: 0 9999px 9999px 0;
            margin: clamp($size-md, 7vw, $size-lg) auto $size-lg 0;

            .main-banner__content {
                display: flex;
                padding-left: clamp($size-md, calc(30vw - 50px) , 300px);
                margin-right: $size-sm;

                .main-banner__image {
                    position: absolute;
                    top: clamp(-25px, calc(50px - 6vw), 50px);
                    left: clamp(-25px, calc(-35px + 5vw), 25px); 
                    border-radius: 50%;
                    height: clamp($size-lg, 20vw, 250px);
                    width: clamp($size-lg, 20vw, 250px);
                }

                .main-banner__text {
                    .main-banner__title {
                        font-size: clamp($font-size-xs, calc(max(4vw,2.2vh)), $font-size-xl);
                        color: $color-gray-light;
                    }

                    .main-banner__subtitle {
                        font-size: clamp($font-size-xxs, calc(max(3vw,1.5vh)), $font-size-lg);
                        color: $color-secondary-light;
                        margin-left: clamp(0px, calc(50px - 4vw), 37px) ;
                    }
                }
            }
        }
    }

    .site__carousel-section {
        display: flex;
        justify-content: space-between;
        margin: $size-md auto;
        padding: 0 clamp($size-sm, 7vw, $size-lg);
        max-width: $size-gt;

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
        }

        .carousel-section__text {
            flex: 1;
            max-width: calc(#{$size-hg} + #{$size-xl});
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: clamp(0px, calc(5vw - 18px), $size-md); // 0 at 360px

            .carousel-section__title {
                font-size: clamp($font-size-sm, calc(max(4vw,3vh)), $font-size-xl);
                margin-bottom: clamp($size-xs, calc(max(2vw,1.5vh)), $size-sm);
            }

            .carousel-section__description {
                font-size: clamp($font-size-xxs, 4vw, $font-size-md);
                margin: 0 0 $size-sm 0;
            }
        }

        .carousel-section__circles {
            position: relative;
            width: calc( #{$size-xxl} + #{$size-md} );
            height: calc( #{$size-xxl} + #{$size-lg} );

            @media (max-width: 992px) {
                width: calc( #{$size-xxl} + #{$size-lg} );
                height: calc( #{$size-xxl} + #{$size-md} );
                margin-bottom: $size-md;
            }

            @media (max-width: 576px) {
                display: flex;
                justify-content: center;
                width: clamp(300px,90vw,350px);
                height: calc(#{$size-xl} + #{$size-lg});
            }

            .carousel-section__circle {
                border-radius: 50%;
                box-shadow: 6px 6px 12px 0px $color-shadow;

                &--small {
                    position: absolute;
                    left: calc( #{$size-lg} + #{$size-sm} );
                    top: 0;
                    width: $size-lg;
                    height: $size-lg;
                    font-size: $font-size-md;
                    background-color: $color-secondary-light;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    color: $color-gray-light;
                    padding: $size-xs;

                    @media (max-width: 992px) {
                        top: calc( #{$size-lg} + #{$size-sm} );
                        left: 0;
                        justify-content: flex-start;
                    }

                    @media (max-width: 576px) {
                        justify-content: center;
                        border-radius: 0;
                        z-index: 2;
                        height: $size-md;
                        width: clamp(80px,25vw,$size-lg);
                        top: calc( #{$size-xl} + #{$size-lg} - #{$size-md} );
                        left: 0;
                        text-align: center;
                        font-size: clamp($font-size-xs, calc(max(4vw,2.2vh)), $font-size-xl);
                    }
                }

                &--medium {
                    position: absolute;
                    top: $size-md;
                    left: 0;
                    width: $size-xl;
                    height: $size-xl;
                    font-size: $font-size-md;
                    background-color: $color-primary;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    color: $color-gray-light;
                    padding: $size-sm $size-lg $size-md $size-xs;
                    hyphens: auto;
                    

                    @media (max-width: 992px) {
                        top: 0;
                        left: $size-md;
                    }

                    @media (max-width: 576px) {
                        justify-content: center;
                        border-radius: 0;
                        z-index: 2;
                        height: $size-md;
                        width: calc(100% - #{$size-lg});  //TOFIX: needs refactoring, maybe adding a div to use flex
                        min-width: 220px; //TOFIX: related to width problem
                        top: calc(#{$size-xl} + #{$size-lg} - #{$size-sm});
                        left: clamp(80px,25vw,$size-lg);
                        text-align: center;
                        padding: 0 $size-xs;
                        font-size: clamp($font-size-xs, calc(max(4vw,2.2vh)), $font-size-xl);
                    }

                }

                &--large {
                    position: absolute;
                    top: $size-lg;
                    left: $size-md;
                    width: $size-xxl;
                    height: $size-xxl;
                    background-color: $color-secondary;

                    @media (max-width: 992px) {
                        top: $size-md;
                        left: $size-lg;
                    }

                    @media (max-width: 576px) {
                        position: relative;
                        top: 0;
                        left: 0;
                        width: clamp(250px,85vw,300px);
                        height: clamp(250px,85vw,300px);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        transition: opacity ease-in-out;

                        &.fade-out {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    .site__projects-banner {
        text-align: center;
        background-color: $color-primary;
        padding: $size-md 5vw;

        .projects-banner__title {
            display: block;
            font-size: clamp($font-size-md, calc(max(4vw,3vh)), $font-size-xl);
            margin-bottom: clamp($size-xs, calc(max(3vw,2vh)), $size-sm);
            color: $color-gray-light;
        }

        .projects-banner__cards {
            display: flex;
            flex-wrap: wrap;
            gap: calc(max(3vw,3vh));
            max-width: $size-gt;
            margin: 0 auto;

            .projects-banner__card {
                display: flex;
                flex-wrap: wrap;
                flex: 1 1 450px;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                vertical-align: top;
                padding: clamp(0px,4vw, $size-sm);
                border-radius: $size-sm;
                box-shadow: 6px 6px 12px 0px $color-shadow;
                max-width: 75vw;
                //max-width: calc(max(80vh,400px));
                margin: 0 auto;

                &--left {
                    background-color: $color-primary-light;
                }
            
                &--right {
                    background-color: $color-secondary-light;
                }
    
                .card__text-content {
                    flex: 1 1 200px;
                    margin: $size-xs;

                    .card__title {
                        color: $color-gray-light;
                        font-size: clamp($font-size-md, calc(max(2.7vw,2.4vh)), $font-size-lg);
                        margin-bottom: clamp(0px, calc(max(1vw,0.5vh)), $size-xs);
    
                        &--right {
                            color: $color-secondary-dark;
                        }
                    }
        
                    .card__description {
                        font-size: clamp($font-size-xxs, 2.5vw, $font-size-md);
                        color: $color-gray-light;

                        &--right {
                            color: $color-secondary-dark;
                        }
                    }
                }
    
                .card__image {
                    flex: 0.5 0.5 150px;
                    aspect-ratio: 1.176;
                    position: relative;
                    z-index: 0;
                    margin: 0 auto;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: $size-xs;
                    }

                    .card__svg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                    }
                }
            }
        }
    }

    .site__video-section {
        text-align: center;
        padding: $size-lg 0;


        .video-section__title {
            font-size: clamp($font-size-md, calc(max(4vw,3vh)), $font-size-xl);
            margin-bottom: clamp($size-xs, calc(max(3vw,2vh)), $size-sm);
        }

        .video-section__content {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 992px) {
                flex-direction: column;
            }

            .video-section__player {
                iframe {
                    width: clamp(300px, 85vw, 700px);
                    aspect-ratio: 16 / 9;
                }
            }

            .video-section__buttons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 $size-md;

                @media (max-width: 992px) {
                    flex-direction: row-reverse;
                    width: clamp(300px, 85vw, 700px); //equals iframe
                    justify-content: flex-start;
                    margin: 0 auto;
                }
            
                .video-section__button {
                    position: relative; 
                    background-color: $color-primary-light;
                    border: none;
                    border-radius: 50%;
                    width: clamp($size-md, 10vw, $size-lg);
                    height: clamp($size-md, 10vw, $size-lg);
                    margin: $size-xs 0;
                    cursor: pointer;
                    background-size: cover; 
                    background-position: center; 
                    overflow: hidden; 

                    @media (max-width: 992px) {
                        margin: 0 $size-xs;
                    }
            
                    &--en {
                        background-image: url('../img/english.webp');
                    }
            
                    &--sp {
                        background-image: url('../img/spanish.webp');
                    }
            
                    &--it {
                        background-image: url('../img/italian.webp');
                    }
            
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: transparent;
                        transition: background 0.1s ease;
                    }
            
                    &:hover::before {
                        background: $color-dark-overlay;
                    }
                }
            }
        }
    }

    .site__links-section {
        text-align: center;
        padding: 0 0 $size-lg 0;

        .links-section__title {
            font-size: clamp($font-size-md, calc(max(4vw,3vh)), $font-size-xl);
            margin-bottom: clamp($size-xs, calc(max(3vw,2vh)), $size-sm);
        }

        .links-section__buttons {
            display: flex;
            justify-content: center;
            background-color: $color-primary-light;
            border-radius: 9999px;
            margin: 0 auto;
            width: fit-content;
            padding: clamp($size-xs, 2.5vw, $size-sm);
            box-shadow: 6px 6px 12px 0px $color-shadow;

            *:not(:first-child){
                margin-left: clamp($size-sm, 5vw, $size-md);
            }

            .links-section__button {
                position: relative;
                background-color: $color-primary-light;
                border-radius: 50%;
                width: clamp($size-md, 10vw, $size-lg);
                height: clamp($size-md, 10vw, $size-lg);
                cursor: pointer;
                background-size: cover;
                background-position: center;
                background-color: white;
                overflow: hidden;

                &--linkedin {
                    background-image: url('../img/linkedin.svg');
                }

                &--github {
                    background-image: url('../img/github.svg');
                }

                &--email {
                    background-image: url('../img/email.webp');
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: transparent;
                    transition: background 0.1s ease;
                }
        
                &:hover::before {
                    background: $color-dark-overlay;
                }
            }
        }
    }

    .site__footer {
        text-align: center;
        padding: $size-md $size-md $size-lg $size-md;
        background-color: $color-secondary-dark;
        color: $color-gray-light;

        .footer__privacy-link {
            color: $color-secondary-light;
            text-decoration: none;
            margin-bottom: $size-sm;
            font-size: $font-size-md;

            &:hover {
                text-decoration: underline;
            }
        }

        .footer__text {
            font-size: clamp($font-size-xxs, 3vw, $font-size-md);
            color: $color-gray-light;
        }
    }
}